<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<script src="../bower_components/page/page.js"></script>
<script>
  window.addEventListener('WebComponentsReady', function() {

    // We use Page.js for routing. This is a Micro
    // client-side router inspired by the Express router
    // More info: https://visionmedia.github.io/page.js/

    // Removes end / from app.baseUrl which page.base requires for production
    if (window.location.port === '') {  // if production
      page.base(app.baseUrl.replace(/\/$/, ''));
    }

    // Middleware
    function scrollToTop(ctx, next) {
      app.scrollPageToTop();
      next();
    }

    function closeDrawer(ctx, next) {
      app.closeDrawer();
      next();
    }

    function setFocus(selected){
      document.querySelector('section[data-route="' + selected + '"] .page-title').focus();
    }

    // Routes
    page('*', scrollToTop, closeDrawer, function(ctx, next) {
      next();
    });

    page('/', homepage);
    page(app.baseUrl, homepage);

    function homepage() {
      app.route = 'form';
      app.title = 'Form';
      app.desp = 'Manage forms';
      setFocus(app.route);

      formlist.reset();
      flexModel.on('table-schema', 'value', data=>{
        data.forEach(e=>{
         formlist.push('forms', {name: e.key, data: flexTools.json2array(e.data), schema: JSON.stringify(e.data, null, 2)});
        });
      });
    }

    page('/form/new', function() {
      app.route = 'form-new';
      app.title = 'New Form';
      app.desp = 'Create new form';
      setFocus(app.route);

      newform.openNewDialog();
    });

    page('/tableview', function() {
      app.route = 'tableview';
      app.title = 'Table';
      app.desp = 'View tables';
      setFocus(app.route);
    });

    page('/users/:name', function(data) {
      app.route = 'user-info';
      app.params = data.params;
      setFocus(app.route);
    });

    page('/compute', function() {
      app.route = 'compute';
      app.title = 'Compute';
      app.desp = 'Computing data';
      setFocus(app.route);
    });

    // 404
    page('*', function() {
      app.$.toast.text = 'Can\'t find: ' + window.location.href  + '. Redirected you to Home Page';
      app.$.toast.show();
      page.redirect(app.baseUrl);
    });

    // add #! before urls
    page({
      hashbang: true
    });

  });
</script>
