<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">

<!-- shared styles for all elements and index.html -->
<dom-module id="shared-styles">
  <template>
    <style>
      .page-title {
        @apply(--paper-font-display2);
      }

      .app-menu {
        --paper-menu-selected-item: {
          color: #fff;
          background: var(--light-primary-color);
        }
      }

      paper-menu a > *, paper-menu paper-item > *, paper-menu paper-icon-item > * {
        pointer-events: none;
      }

      @media (max-width: 600px) {
        .page-title {
          font-size: 24px!important;
        }
      }

      paper-spinner-lite.orange {
        --paper-spinner-color: var(--google-teal-500);
      }

      .paper-form {
        border-radius: 2px;
        height: 100%;
        padding: 16px;
        width: calc(98.66% - 16px);
        margin: 16px auto;
        background: var(--paper-indigo-50);
      }
      .paper-form div.header {
        @apply(--layout-horizontal);
        color: var(--secondary-text-color);
      }
      .paper-form span.space {
        @apply(--layout-flex);
      }
      .paper-form paper-icon-button {
        color: var(--accent-color);
      }
    </style>
  </template>
</dom-module>
