<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<!--
@license
Copyright (c) 2016 Quark Li. All rights reserved.
This code may only be used under the MIT license.
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../elements.html">
<link rel="import" href="../../include.html">

<dom-module id="flex-form">
  <template>
    <style>
      :host {
        display: block;
      }
      span {
        @apply(--paper-font-body1);
      }
      .paper-form {
        border-radius: 2px;
        height: 100%;
        padding: 16px;
        width: calc(98.66% - 16px);
        margin: 16px auto;
        background: var(--paper-indigo-50);
      }
      .paper-form div.header {
        @apply(--layout-horizontal);
        color: var(--secondary-text-color);
      }
      .paper-form span.space {
        @apply(--layout-flex);
      }
      .paper-form paper-icon-button {
        color: var(--accent-color);
      }
      paper-item.fancy {
        cursor: pointer;
        --paper-item-focused: {
          background: var(--paper-amber-500);
          font-weight: bold;
        };
        --paper-item-focused-before: {
          opacity: 0;
        };
      }
    </style>

    <template is="dom-repeat" items="{{forms}}">
      <paper-material class="paper-form" elevation="1">
        <div class="header">
          <h1>{{item.name}}</h1>
          <span class="space"></span>
          <paper-icon-button icon="add" alt="New" on-tap="append"></paper-icon-button>
          <template is="dom-if" if="{{!newFormName}}">
            <paper-icon-button icon="clear" alt="Drop" on-tap="dropForm"></paper-icon-button>
          </template>
          <template is="dom-if" if="{{item.data.length}}">
            <paper-icon-button icon="expand-more" alt="More" on-tap="toggleChild"></paper-icon-button>
          </template>
        </div>
        <iron-collapse>
          <flex-item data="{{item.data}}"></flex-item>
        </iron-collapse>
        <pre>{{item.schema}}</pre>
      </paper-material>
    </template>

    <paper-dialog id="appendDialog" modal role="alertdialog">
      <h2>Select a Type</h2>
      <div role="listbox">
        <paper-item class="fancy" dialog-confirm>Section</paper-item>
        <paper-item class="fancy" dialog-confirm>Field</paper-item>
      </div>
    </paper-dialog>

    <paper-dialog id="dropDialog" modal role="alertdialog">
      <h2>Drop FORM</h2>
      <p>Drop "{{dropTarget}}"?</p>
      <div class="buttons">
        <paper-button dialog-confirm on-tap="execDrop">Drop</paper-button>
        <paper-button dialog-dismiss>Cancel</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="newDialog" modal role="alertdialog">
      <h2>New Form</h2>
      <paper-input label="Form Name" value="{{newFormName}}"></paper-input>
      <div class="buttons">
        <paper-button dialog-confirm on-tap="newForm" disabled="[[!newFormName]]">OK</paper-button>
      </div>
    </paper-dialog>

  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'flex-form',

        properties: {
          forms: {
            type: Array,
            value: ()=>{return []},
            notify: true
          },
          dropTarget: {
            type: String,
            notify: true
          },
          newFormName: {
            type: String,
            notify: true
          }
        },

        ready: function() {

        },

        toggleChild: function() {
          var btn = Polymer.dom(event).localTarget;
          btn.icon = btn.icon.match('more') ? 'expand-less' : 'expand-more';
          var target = $(btn).parents('paper-material').children('iron-collapse').first()[0];
          target.toggle();
        },

        append: function(e) {
          var items = $(e.target).parents('paper-material').children('iron-collapse').first()[0];
          if (!items.opened) {
            items.toggle();
          }
          this.$$('#appendDialog').toggle();
        },

        dropForm: function(e) {
          var form = $(e.target).parents('div').children('h1').html();
          this.dropType = 'FORM';
          this.dropTarget = form;
          this.$$('#dropDialog').toggle();
        },

        execDrop: function() {
          console.log('Drop ' + this.dropTarget);
        },

        reset: function() {
          this.newFormName = undefined;
          this.splice('forms', 0, this.forms.length);
        },

        openNewDialog: function() {
          this.reset();
          this.$$('#newDialog').toggle();
        },

        newForm: function() {
          this.push('forms', {name: this.newFormName, data: [], schema: JSON.stringify({}, null, 2)});
        }
      });
    })();
  </script>
</dom-module>
