<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="scripts/model.js"></script>
<script src="scripts/toolbox.js"></script>
