<!doctype html>
<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<!--
@license
Copyright (c) 2016 Quark Li. All rights reserved.
This code may only be used under the MIT license.
-->

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="flexdb">
  <title>flexdb</title>

  <!-- Place favicon.ico in the `app/` directory -->

  <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="#2E3AA1">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Tile color for Win8 -->
  <meta name="msapplication-TileColor" content="#3372DF">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="flexdb">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="flexdb">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <!-- endbuild -->

  <!-- Because this project uses vulcanize this should be your only html import
       in this file. All other imports should go in elements.html -->
  <link rel="import" href="elements/elements.html">
  <link rel="import" href="include.html">

  <!-- For shared styles, shared-styles.html import in elements.html -->
  <style is="custom-style" include="shared-styles"></style>
</head>

<body unresolved>
  <!-- build:remove -->
  <span id="browser-sync-binding"></span>
  <!-- endbuild -->

  <template is="dom-bind" id="app">

    <paper-drawer-panel id="paperDrawerPanel">
      <!-- Drawer Scroll Header Panel -->
      <paper-scroll-header-panel drawer fixed>

        <!-- Drawer Toolbar -->
        <paper-toolbar id="drawerToolbar">
          <span class="menu-name">flexdb</span>
        </paper-toolbar>

        <!-- Drawer Content -->
        <paper-menu class="app-menu" attr-for-selected="data-route" selected="[[route]]">
          <a data-route="form" href="{{baseUrl}}">
            <iron-icon icon="dns"></iron-icon>
            <span>Form</span>
          </a>

          <a data-route="tableview" href="{{baseUrl}}tableview">
            <iron-icon icon="editor:border-all"></iron-icon>
            <span>Table</span>
          </a>

          <a data-route="compute" href="{{baseUrl}}compute">
            <iron-icon icon="assessment"></iron-icon>
            <span>Compute</span>
          </a>

          <a on-tap="login">
            <iron-icon icon="account-circle"></iron-icon>
            <span>
            <template is="dom-if" if="{{!authenticated}}">
              Login
            </template>
            <template is="dom-if" if="{{authenticated}}">
              Logout
            </template>
            </span>
          </a>
        </paper-menu>
      </paper-scroll-header-panel>

      <!-- Main Area -->
      <paper-scroll-header-panel main id="headerPanelMain" fixed>
        <!-- Main Toolbar -->
        <paper-toolbar id="mainToolbar">
        <template is="dom-if" if="{{!isChildPage(route)}}">
          <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>
        </template>
        <template is="dom-if" if="{{isChildPage(route)}}">
          <paper-icon-button id="pageBack" icon="arrow-back" on-tap="pageBack"></paper-icon-button>
        </template>

          <span class="space"></span>

          <!-- Toolbar icons -->
          <!-- /form Page Icons -->
          <template is="dom-if" if="{{curPage(route, 'form')}}">
            <a data-route="form-new" href="{{baseUrl}}form/new">
              <paper-icon-button icon="add" alt="add"></paper-icon-button>
            </a>
          </template>
          <!-- /form/new Page Icons -->
          <template is="dom-if" if="{{curPage(route, 'form-new')}}">
            <paper-icon-button icon="check" alt="Save" on-tap="saveForm"></paper-icon-button>
          </template>
          <!-- /tableview Page Icons -->
          <template is="dom-if" if="{{curPage(route, 'tableview')}}">
            <paper-icon-button icon="search" alt="search"></paper-icon-button>
            <paper-icon-button icon="filter-list" alt="fliter-list"></paper-icon-button>
            <paper-icon-button icon="save" alt="save"></paper-icon-button>
          </template>
          <!-- /compute Page Icons -->
          <template is="dom-if" if="{{curPage(route, 'compute')}}">
            <paper-icon-button icon="add" alt="add"></paper-icon-button>
            <paper-icon-button icon="save" alt="save"></paper-icon-button>
          </template>

          <!-- Application name -->
          <div class="middle middle-container">
            <div class="app-name">{{title}}</div>
          </div>

          <!-- Application sub title -->
          <!-- <div class="bottom bottom-container"> -->
            <!-- <div class="bottom-title">{{desp}}</div> -->
          <!-- </div> -->
        </paper-toolbar>

        <!-- Main Content -->
        <div class="content">
          <iron-pages attr-for-selected="data-route" selected="{{route}}">
            <section data-route="form" tabindex="-1">
              <span class="page-title" tabindex="-1"></span>
              <flex-form id="formlist"></flex-form>
            </section>

            <section data-route="form-new" tabindex="-1">
              <span class="page-title" tabindex="-1"></span>
              <flex-form id="newform"></flex-form>
            </section>

            <section id="tableview" data-route="tableview" tabindex="-1">
              <!-- <paper-material id="tableview" elevation="1"> -->
                <span class="page-title" tabindex="-1"></span>
                <flex-table id="ftab"></flex-table>
              <!-- </paper-material> -->
            </section>

            <section data-route="compute" tabindex="-1">
              <paper-material elevation="1">
                <h1 class="page-title" tabindex="-1">Compute</h1>
                <p>Computing data</p>
                <flex-item id="fitem"></flex-item>
              </paper-material>
            </section>
          </iron-pages>
        </div>
      </paper-scroll-header-panel>
    </paper-drawer-panel>

    <template is="dom-if" if="{{!authenticated}}">
      <paper-dialog id="modalLogin" modal role="alertdialog">
        <h2>Login</h2>
        <div>
          <paper-input label="Email" type="email" value="{{email}}" autofocus></paper-input>
          <paper-input label="Password" type="password" value="{{password}}"></paper-input>
        <div>
        <div class="buttons">
          <paper-button dialog-confirm on-tap="auth">Login</paper-button>
          <paper-button dialog-dismiss>Cancel</paper-button>
        </div>
      </paper-dialog>
    </template>

    <!-- Add <paper-dialog> within <template> to avoid style inheritance and caused
    followwing element set to be hidden -->
    <template is="dom-if" if="{{1}}">
      <paper-dialog id="modalConfirm" modal role="alertdialog">
        <h2>Warning!</h2>
        <div>
          <p>There are unsaved changes. Leaving the page will lose all the changes.</p>
          <p>Are you sure?</p>
        <div>
        <div class="buttons">
          <paper-button dialog-confirm on-tap="forceBack">Leave</paper-button>
          <paper-button dialog-dismiss>Stay</paper-button>
        </div>
      </paper-dialog>
    </template>

    <paper-toast id="toast">
      <!-- <span class="toast-hide-button" role="button" tabindex="0" onclick="app.$.toast.hide()">[Close]</span> -->
    </paper-toast>

    <!-- Uncomment next block to enable Service Worker support (1/2) -->
    <!--
    <paper-toast id="caching-complete"
                 duration="6000"
                 text="Caching complete! This app will work offline.">
    </paper-toast>

    <platinum-sw-register auto-register
                          clients-claim
                          skip-waiting
                          base-uri="bower_components/platinum-sw/bootstrap"
                          on-service-worker-installed="displayInstalledToast">
      <platinum-sw-cache default-cache-strategy="fastest"
                         cache-config-file="cache-config.json">
      </platinum-sw-cache>
    </platinum-sw-register>
    -->

  </template>

  <!-- build:js scripts/app.js -->
  <script src="scripts/app.js"></script>
  <!-- endbuild-->
</body>

</html>
